<selecter model="type" options="types"></selecter>
<input type="text"
       class="form-control"
       ng-show="type.name == 'Property'"
       ng-model="name">
<input type="text"
       class="form-control"
       ng-show="type.name == 'Constant'"
       ng-model="value">
<selecter model="func" options="functions" ng-show="type.name == 'Function'">
</selecter>
<input type="text"
       class="form-control"
       ng-show="type.name == 'Function'"
       ng-repeat-start="arg in func.options"
       ng-model="args[func.options.indexOf(arg)]"
       placeholder="{[ arg.name ]}">
<span ng-repeat-end></span><!-- Hack to insert whitespace for inline-block -->