{% extends "base.html" %}

{% block content %}

<ul id="visualizations">
</ul>

<script type="text/template" id="new-vis">
<form class="form-horizontal">
    <fieldset>
        <legend>Create a new visualization</legend>
        // TODO(meelap) move plot|table toggle to the actual visualization
        // Choose whether x-axis is time or sub-attribute
        <div class="control-group">
            <label class="control-label">Type: </label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="vistype" value="plot"> plot
                </label>
                <label class="radio">
                    <input type="radio" name="vistype" value="table"> table
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Start time:</label>
            <div class="controls">
                <input type=text placeholder="-5days, 2013-05-20">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">End time:</label>
            <div class="controls">
                <input type=text placeholder="now, 2013-06-13" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Stream:</label>
            <div class="controls">
                <input type=text placeholder="signups, premium, ...">
            </div>
        </div>

        <div class="control-group">
            <button type="Submit" class="btn">Add Visualization</button>
        </div>
    </fieldset>
</form>
</script>

<script type="text/template" id="table-vis">
    <p>Table: <%= data.title %></p>
    <table class="table table-striped">
        <thead></thead>
        <tbody></tbody>
    </table>
</script>

<script type="text/template" id="plot-vis">
    <p>Plot: <%= title %></p>
    <div class="plot"></div>
    <div class="legend"></div>
</script>

{% endblock content %}


{% block css_includes %}
<link href="/static/css/graph.css" rel="stylesheet">
<link href="/static/css/legend.css" rel="stylesheet">
<link href="/static/css/detail.css" rel="stylesheet">
<style>
.view {
    margin : 50px;
}
</style>
{% endblock css_includes %}

{% block js_includes %}
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/crossdomain-ajax.js"></script>
<script src="/static/js/kronosclient.js"></script>
<script src="/static/js/main.js"></script>
{% endblock js_includes %}

