{% extends "base.html" %}

{% block content %}

<ul id="visualizations">
</ul>

<script type="text/template" id="new-vis">
<form>
    <fieldset>
        <legend>Create a new visualization</legend>

        <label>Type</label>
            <select>
                <option value="line">Line graph</option>
                <option value="bar">Bar graph</option>
                <option value="table">Table</option>
            </select>

        <label>Start time:</label> <input type=text placeholder="-5days, 2013-05-20">

        <label>End time:</label><input type=text placeholder="now, 2013-06-13" >

        <label>Stream:</label> <input type=text placeholder="signups, signups_by_provider, ...">

        <label>Metric:</label> <input type=text placeholder="count">

        <button type="Submit" class="btn">Add Visualization</button>
    </fieldset>
</form>
</script>

<script type="text/template" id="table-vis">
    <p>Table: <%= data.title %></p>
    <div class="chart"></div>

</script>

<script type="text/template" id="plot-vis">
    Plot: <%= data.title %>
</script>

{% endblock content %}


{% block css_includes %}
{% endblock css_includes %}

{% block js_includes %}
<script src="/static/js/main.js"></script>
{% endblock js_includes %}

