{% extends "index.html" %}
{% block css_includes %}
<link type="text/css" rel="stylesheet" href="/static/css/rickshaw.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/timeseries.css">
{% endblock css_includes %}
{% block js_includes %}
<script src="/static/js/jspath.min.js"></script>
<script src="/static/js/d3.min.js"></script> 
<script src="/static/js/d3.layout.min.js"></script> 
<script src="/static/js/rickshaw.min.js"></script> 
<script src="/static/js/underscore.min.js"></script> 
<script src="/static/js/jia.js"></script>
<script src="/static/js/timeseries.js"></script>
{% endblock js_includes %}
{% block content %}
<div class="row">
  <div class="span4">
    <form class="navbar-form pull-left">
      <input type="text" class="span4" id="series_name" placeholder="series">
      <input type="text" class="span4" id="x_axis_selector" placeholder="time axis selector">
      <input type="text" class="span4" id="y_axis_selector" placeholder="y axis selector">
      <button type="submit" class="btn" id="create_chart">Chart</button>
    </form>
  </div>
  <div class="span8">
    <div id="chart_container">
      <div id="y_axis"></div>
      <div id="chart"></div>
    </div>
    <div id="legend"></div>
  </div>
</div>

{% endblock content %}
